.special-offers-title {
    position: relative;
    top: 150px;
    left: 160px;
    width: 980px;
    
    h1 {
        font-family: ProximaNovaExtraCondensed;
        font-size: 30px;
    }

    .special-offer-border {
        border-bottom: 2px solid #000000 ;
        position: absolute;
        width: 12%;
        left: 0;
        bottom: -2px;
    }
}

.special-offer-1 {
    width: 800px;
    height: 287px;
    margin: 200px 0 0 150px;

    .special-offer-img {
        display: flex;
        justify-content: left;
        align-items: left;
        width: 199px;
        height: 287px;
        object-fit: cover;

    }
    .barcelona-content {
        position: relative;

        .barcelona-title {
            position: absolute;
            margin: -240px 0 0 215px;
            font-family: ProximaNovaExtraCondensed;
            font-size: 30px;
        }

        .barcelona-title-border {
            border-bottom: 2px solid #000000 ;
            position: absolute;
            width: 12%;
            left: 215px;
            bottom: 245px;
         }

         .barcelona-text {
             width: 290px;
             height: 131px;
             position: absolute;
             bottom: 90px;
             left: 215px;
             font-family: GillSansLight;
             font-size: 16px ;
         }

         .button {
           display: flex;
           justify-content: center;
           align-items: center;
           margin: -40px 0 0 215px ; 

            text-align: center;
            width: 133px;
            height: 40px;
            background-color: #79ADDC; 
            border-radius: 30px;
            font-family: ProximaNovaLight;
            font-size: 15px;
            color: #ffffff;
        }

    }
}

.special-offer-2 {
    width: 800px;
    height: 287px;
    margin: 50px 0 0 150px;
    .special-offer-img {
        display: flex;
        justify-content: left;
        align-items: left;
        width: 199px;
        height: 287px;
        object-fit: cover;

    }
    .barcelona-content {
        position: relative;

        .barcelona-title {
            position: absolute;
            margin: -240px 0 0 215px;
            font-family: ProximaNovaExtraCondensed;
            font-size: 30px;
        }

        .barcelona-title-border {
            border-bottom: 2px solid #000000 ;
            position: absolute;
            width: 12%;
            left: 215px;
            bottom: 245px;
         }

         .barcelona-text {
             width: 290px;
             height: 131px;
             position: absolute;
             bottom: 90px;
             left: 215px;
             font-family: GillSansLight;
             font-size: 16px ;
         }

         .button {
           display: flex;
           justify-content: center;
           align-items: center;
           margin: -40px 0 0 215px ; 

            text-align: center;
            width: 133px;
            height: 40px;
            background-color: #79ADDC; 
            border-radius: 30px;
            font-family: ProximaNovaLight;
            font-size: 15px;
            color: #ffffff;
        }

    }
}

.discount {
    position: absolute;
    left: 43%;
    top: 37%;
    color: #FF7D38;
    font-family: GillSansLight;
    font-size: 20px;
}

.discount2 {
    position: absolute;
    left: 41%;
    top: 87%;
    color: #FF7D38;
    font-family: GillSansLight;
    font-size: 20px;
}

@media (max-width: 980px) {
    .client-wrapper1 {
        .client-text {
            padding-right:200px;
        } 
        .client-name {
            display: none;
        }
    }
}

@media (max-width: 800px) {
    .discount {
        display:none;
    }
}

@media (max-width: 800px) {
    .discount2 {
        display:none;
    }
}

